border-bottom-1px($color)
	position relative
	&:after
		content ''
		display block
		width 100%
		position absolute
		left 0px
		bottom 0px
		border 1px solid $color
		transform scaleY(0.3);
border-top-1px($color)
	position relative
	&:before
		content ''
		display block
		width 100%
		position absolute
		left 0px
		top 0px
		border 1px solid $color
		transform scaleY(0.3)